VITE_API_URL=http://172.20.10.3:3001/api
VITE_SUPABASE_URL=https://afobptwiobwbzvhzfbcl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmb2JwdHdpb2J3Ynp2aHpmYmNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzQ4NDk3NCwiZXhwIjoyMDk5MDYwOTc0fQ.R2R3goRab2y-BHj85aU5C3sEZGqzwlpMkDuSm3mOzT0
PORT=3001
JWT_SECRET=revenueallyozoneoverseasproject
ADMIN_EMAIL=admin@ozoneoverseas.com
ADMIN_PASSWORD=Admin@123
ALLOWED_ORIGINS=http://localhost:8080,http://172.20.10.3:8080,https://ozoneeoverseass.jayayaya6559.workers.dev
VITE_API_URL: https://ozoneeoverseass-backend.onrender.com/api,
VITE_SUPABASE_URL: https://afobptwiobwbzvhzfbcl.supabase.co,
VITE_SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFmb2JwdHdpb2J3Ynp2aHpmYmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0ODQ5NzQsImV4cCI6MjA5OTA2MDk3NH0.xP-vJFi2wFFFCc0fGiH6eqirjmQb9yXpY2R1xXuTY9g,